USE [VCOMPDB]
GO
/****** Object:  User [vmadmin]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE USER [vmadmin] FOR LOGIN [vmadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [vmadmin]
GO
/****** Object:  Table [dbo].[SVI_AD_CONFIG_ENTRY]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_AD_CONFIG_ENTRY](
	[ID] [nvarchar](40) NOT NULL,
	[FQDN] [nvarchar](255) NOT NULL,
	[USERNAME] [nvarchar](2000) NOT NULL,
	[PASSWORD] [nvarchar](2048) NOT NULL,
 CONSTRAINT [PK_SVI_AD_CONFIG_ENTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_AUTHORIZED_USERS]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_AUTHORIZED_USERS](
	[AUTHORIZED_USER] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SVI_AUTHORIZED_USERS] PRIMARY KEY CLUSTERED 
(
	[AUTHORIZED_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_COMPUTER_NAME]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_COMPUTER_NAME](
	[FQDN] [nvarchar](255) NOT NULL,
	[NAME] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SVI_COMPUTER_NAME] PRIMARY KEY CLUSTERED 
(
	[FQDN] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_DEPLOYMENT_GROUP]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_DEPLOYMENT_GROUP](
	[ID] [nvarchar](40) NOT NULL,
	[VERSION] [int] NOT NULL,
	[SEQUENCE_NUMBER] [int] NOT NULL,
	[VC_CONFIG_ID] [nvarchar](40) NULL,
	[VM_MO_REF] [nvarchar](80) NOT NULL,
	[VM_SS_MO_REF] [nvarchar](80) NOT NULL,
	[CUSTOMIZATION_TYPE] [int] NOT NULL,
	[CUSTOMIZATION_SPEC_NAME] [nvarchar](255) NULL,
	[CUSTOMIZATION_SPEC_CHANGE_NUM] [nvarchar](15) NULL,
	[AD_CONFIG_ID] [nvarchar](40) NULL,
	[CONTAINER_PATH] [nvarchar](255) NULL,
	[PRE_SYNC_SCRIPT_PATH] [nvarchar](255) NULL,
	[POST_SYNC_SCRIPT_PATH] [nvarchar](255) NULL,
	[GOS_POLICY_HASH_CODE] [int] NULL,
	[VM_UUID] [nvarchar](40) NOT NULL,
	[VM_SS_CREATE_TIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SVI_DEPLOYMENT_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_DG_CUST_PROP]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_DG_CUST_PROP](
	[PARENT_ID] [nvarchar](40) NOT NULL,
	[PROP_NAME] [nvarchar](255) NOT NULL,
	[PROP_VALUE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SVI_DG_CUST_PROP] PRIMARY KEY CLUSTERED 
(
	[PARENT_ID] ASC,
	[PROP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_DG_ENV_VAR]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_DG_ENV_VAR](
	[PARENT_ID] [nvarchar](40) NOT NULL,
	[VAR_NAME] [nvarchar](255) NOT NULL,
	[VAR_VALUE] [nvarchar](255) NULL,
	[VAR_INDEX] [int] NOT NULL,
 CONSTRAINT [PK_SVI_DG_ENV_VAR] PRIMARY KEY CLUSTERED 
(
	[PARENT_ID] ASC,
	[VAR_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_REPLICA]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_REPLICA](
	[ID] [nvarchar](40) NOT NULL,
	[REPLICA_MOID] [nvarchar](80) NULL,
	[REPLICA_SS_MOID] [nvarchar](80) NULL,
	[CUSTOMIZATION_SPEC_NAME] [nvarchar](255) NULL,
	[CUSTOMIZATION_SPEC_VERSION] [nvarchar](50) NULL,
	[VC_CONFIG_ID] [nvarchar](40) NOT NULL,
	[GOLDEN_VM_MOID] [nvarchar](80) NULL,
	[GOLDEN_SS_MOID] [nvarchar](80) NULL,
	[FOLDER_MOID] [nvarchar](80) NULL,
	[SOURCE_LC_MOID] [nvarchar](80) NULL,
	[STATE] [smallint] NOT NULL,
	[REPLICA_UUID] [nvarchar](40) NULL,
	[GOLDEN_VM_UUID] [nvarchar](40) NOT NULL,
	[GOLDEN_SS_CREATE_TIME] [datetime] NOT NULL,
	[SOURCE_LC_UUID] [nvarchar](40) NULL,
 CONSTRAINT [PK_SVI_REPLICA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_REQUEST]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_REQUEST](
	[ID] [nvarchar](40) NOT NULL,
	[VERSION] [int] NOT NULL,
	[CANCEL_PENDING] [bit] NOT NULL,
	[TOTAL_SHARES] [int] NOT NULL,
	[SHARES_DONE] [int] NOT NULL,
	[COMPLETION_TIME] [datetime] NULL,
 CONSTRAINT [PK_SVI_REQUEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_SC_BASE_DISK_KEYS]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_SC_BASE_DISK_KEYS](
	[PARENT_ID] [nvarchar](40) NOT NULL,
	[KEY_INDEX] [int] NOT NULL,
	[KEY_VALUE] [int] NOT NULL,
 CONSTRAINT [PK_SVI_SC_BASE_DISK_KEYS] PRIMARY KEY CLUSTERED 
(
	[PARENT_ID] ASC,
	[KEY_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_SC_ENV_VAR]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_SC_ENV_VAR](
	[PARENT_ID] [nvarchar](40) NOT NULL,
	[VAR_NAME] [nvarchar](255) NOT NULL,
	[VAR_VALUE] [nvarchar](255) NULL,
	[VAR_INDEX] [int] NOT NULL,
 CONSTRAINT [PK_SVI_SC_ENV_VAR] PRIMARY KEY CLUSTERED 
(
	[PARENT_ID] ASC,
	[VAR_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_SC_PDISK_INFO]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_SC_PDISK_INFO](
	[PARENT_ID] [nvarchar](40) NOT NULL,
	[LIST_INDEX] [int] NOT NULL,
	[DISK_KEY] [int] NOT NULL,
	[DISK_USAGE] [int] NOT NULL,
 CONSTRAINT [PK_SVI_SC_PDISK_INT] PRIMARY KEY CLUSTERED 
(
	[PARENT_ID] ASC,
	[LIST_INDEX] ASC,
	[DISK_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_SEQUENCE]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_SEQUENCE](
	[ID] [nvarchar](255) NOT NULL,
	[NUM] [int] NOT NULL,
 CONSTRAINT [PK_SVI_SEQUENCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_SIM_CLONE]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_SIM_CLONE](
	[ID] [nvarchar](40) NOT NULL,
	[SIM_CLONE_MOID] [nvarchar](80) NULL,
	[DEPLOYMENT_GROUP_ID] [nvarchar](40) NOT NULL,
	[STATE] [smallint] NOT NULL,
	[VM_NAME] [nvarchar](256) NOT NULL,
	[GUEST_COMPUTER_NAME] [nvarchar](256) NOT NULL,
	[REPLICA_ID] [nvarchar](40) NULL,
	[GOLDEN_MASTER_VM_MOID] [nvarchar](80) NULL,
	[GOLDEN_MASTER_VM_SS_MOID] [nvarchar](80) NULL,
	[LAST_SYNC_TIME] [datetime] NULL,
	[AD_CONFIG_ID] [nvarchar](40) NULL,
	[CONTAINER_PATH] [nvarchar](255) NULL,
	[PRE_SYNC_SCRIPT_PATH] [nvarchar](255) NULL,
	[POST_SYNC_SCRIPT_PATH] [nvarchar](255) NULL,
	[GOS_POLICY_HASH_CODE] [int] NULL,
	[VM_UUID] [nvarchar](40) NULL,
 CONSTRAINT [PK_SVI_SIM_CLONE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_SVI_SIM_CLONE_VM_NAME] UNIQUE NONCLUSTERED 
(
	[VM_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_TASK_STATE]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_TASK_STATE](
	[TASK_ID] [nvarchar](40) NOT NULL,
	[DISCRIMINATOR] [int] NOT NULL,
	[REQUEST_ID] [nvarchar](40) NULL,
	[NEXT_ACTION_INDEX] [int] NOT NULL,
	[FAILED_ACTION_INDEX] [int] NOT NULL,
	[TOTAL_SHARES] [int] NOT NULL,
	[SHARES_DONE] [int] NOT NULL,
	[COMPLETION_RESULT] [int] NOT NULL,
	[SIM_CLONE_ID] [nvarchar](40) NULL,
	[CLONE_CREATION_SPEC_INDEX] [int] NULL,
	[ACCOUNT_PWD] [nvarchar](2048) NULL,
	[VM_DATASTORE_PATH] [nvarchar](255) NULL,
	[VM_DATASTORE_MOID] [nvarchar](80) NULL,
	[LAST_UPDATE_TIME] [datetime] NOT NULL,
	[REM_CLONE_ID] [nvarchar](40) NULL,
	[REM_CLONE_VM_MOID] [nvarchar](80) NULL,
	[TMP_LC_DATASTORE_PATH] [nvarchar](255) NULL,
	[TMP_LC_MOID] [nvarchar](80) NULL,
	[REPLICA_MOID] [nvarchar](80) NULL,
	[REPLICA_ID] [nvarchar](40) NULL,
	[REM_REPLICA_ID] [nvarchar](40) NULL,
	[REM_REPLICA_MOID] [nvarchar](80) NULL,
	[VERSION] [int] NULL,
	[REPLICA_SS_MOID] [nvarchar](80) NULL,
	[SRC_LC_DATASTORE_PATH] [nvarchar](255) NULL,
	[SRC_LC_MOID] [nvarchar](80) NULL,
	[SOURCE_TEMP_LC_MOID] [nvarchar](80) NULL,
	[FAULT_STRING] [nvarchar](2048) NULL,
 CONSTRAINT [PK_SVI_TASK_STATE] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_TS_EXISTING_DISK_KEYS]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_TS_EXISTING_DISK_KEYS](
	[PARENT_ID] [nvarchar](40) NOT NULL,
	[LIST_INDEX] [int] NOT NULL,
	[DISK_KEY] [int] NOT NULL,
 CONSTRAINT [PK_SVI_TS_EXISTING_DISK_KEYS] PRIMARY KEY CLUSTERED 
(
	[PARENT_ID] ASC,
	[LIST_INDEX] ASC,
	[DISK_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_VC_CONFIG_ENTRY]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_VC_CONFIG_ENTRY](
	[ID] [nvarchar](40) NOT NULL,
	[SERVICE_ENDPOINT] [nvarchar](255) NOT NULL,
	[USERNAME] [nvarchar](2000) NOT NULL,
	[PASSWORD] [nvarchar](2048) NOT NULL,
	[VALIDATE_CERTIFICATE] [bit] NOT NULL,
	[CERTIFICATE_THUMBPRINT] [nvarchar](40) NULL,
 CONSTRAINT [PK_SVI_VC_CONFIG_ENTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_VERSION]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_VERSION](
	[VERSION] [nvarchar](10) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[COMMENT] [nvarchar](255) NULL,
 CONSTRAINT [PK_SVI_VERSION] PRIMARY KEY CLUSTERED 
(
	[VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SVI_VM_NAME]    Script Date: 1/03/2016 10:02:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVI_VM_NAME](
	[NAME] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SVI_VM_NAME] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_DG_AD_CONFIG_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_DG_AD_CONFIG_ID] ON [dbo].[SVI_DEPLOYMENT_GROUP]
(
	[AD_CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_DG_VC_CONFIG_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_DG_VC_CONFIG_ID] ON [dbo].[SVI_DEPLOYMENT_GROUP]
(
	[VC_CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_DG_CUST_PROP_DG_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_DG_CUST_PROP_DG_ID] ON [dbo].[SVI_DG_CUST_PROP]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_DG_ENV_VAR_DG_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_DG_ENV_VAR_DG_ID] ON [dbo].[SVI_DG_ENV_VAR]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_REPLICA_VC_CONFIG_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_REPLICA_VC_CONFIG_ID] ON [dbo].[SVI_REPLICA]
(
	[VC_CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_SC_BDISK_KEYS_SC_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_SC_BDISK_KEYS_SC_ID] ON [dbo].[SVI_SC_BASE_DISK_KEYS]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_SC_ENV_VAR_SC_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_SC_ENV_VAR_SC_ID] ON [dbo].[SVI_SC_ENV_VAR]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_SC_PDISK_INFO_SC_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_SC_PDISK_INFO_SC_ID] ON [dbo].[SVI_SC_PDISK_INFO]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_SIM_CLONE_AD_CONFIG_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_SIM_CLONE_AD_CONFIG_ID] ON [dbo].[SVI_SIM_CLONE]
(
	[AD_CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_SIM_CLONE_DG_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_SIM_CLONE_DG_ID] ON [dbo].[SVI_SIM_CLONE]
(
	[DEPLOYMENT_GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_SIM_CLONE_REPLICA_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_SIM_CLONE_REPLICA_ID] ON [dbo].[SVI_SIM_CLONE]
(
	[REPLICA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_TASK_STATE_REPLICA_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_TASK_STATE_REPLICA_ID] ON [dbo].[SVI_TASK_STATE]
(
	[REPLICA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_TASK_STATE_REQUEST_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_TASK_STATE_REQUEST_ID] ON [dbo].[SVI_TASK_STATE]
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_TASK_STATE_SIM_CLONE_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_TASK_STATE_SIM_CLONE_ID] ON [dbo].[SVI_TASK_STATE]
(
	[SIM_CLONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SVI_EXIST_DISK_KEYS_TASK_ID]    Script Date: 1/03/2016 10:02:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_SVI_EXIST_DISK_KEYS_TASK_ID] ON [dbo].[SVI_TS_EXISTING_DISK_KEYS]
(
	[PARENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SVI_DEPLOYMENT_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_SVI_DG_SVI_AD_CONFIG_ENTRY] FOREIGN KEY([AD_CONFIG_ID])
REFERENCES [dbo].[SVI_AD_CONFIG_ENTRY] ([ID])
GO
ALTER TABLE [dbo].[SVI_DEPLOYMENT_GROUP] CHECK CONSTRAINT [FK_SVI_DG_SVI_AD_CONFIG_ENTRY]
GO
ALTER TABLE [dbo].[SVI_DEPLOYMENT_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_SVI_DG_SVI_VC_CONFIG_ENTRY] FOREIGN KEY([VC_CONFIG_ID])
REFERENCES [dbo].[SVI_VC_CONFIG_ENTRY] ([ID])
GO
ALTER TABLE [dbo].[SVI_DEPLOYMENT_GROUP] CHECK CONSTRAINT [FK_SVI_DG_SVI_VC_CONFIG_ENTRY]
GO
ALTER TABLE [dbo].[SVI_DG_CUST_PROP]  WITH CHECK ADD  CONSTRAINT [FK_SVI_DG_CUST_PROP_SVI_DG] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SVI_DEPLOYMENT_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SVI_DG_CUST_PROP] CHECK CONSTRAINT [FK_SVI_DG_CUST_PROP_SVI_DG]
GO
ALTER TABLE [dbo].[SVI_DG_ENV_VAR]  WITH CHECK ADD  CONSTRAINT [FK_SVI_DG_ENV_VAR_SVI_DG] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SVI_DEPLOYMENT_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SVI_DG_ENV_VAR] CHECK CONSTRAINT [FK_SVI_DG_ENV_VAR_SVI_DG]
GO
ALTER TABLE [dbo].[SVI_REPLICA]  WITH CHECK ADD  CONSTRAINT [FK_SVI_REPLICA_SVI_VC_ENTRY] FOREIGN KEY([VC_CONFIG_ID])
REFERENCES [dbo].[SVI_VC_CONFIG_ENTRY] ([ID])
GO
ALTER TABLE [dbo].[SVI_REPLICA] CHECK CONSTRAINT [FK_SVI_REPLICA_SVI_VC_ENTRY]
GO
ALTER TABLE [dbo].[SVI_SC_BASE_DISK_KEYS]  WITH CHECK ADD  CONSTRAINT [FK_SVI_SC_BDISK_KEYS_SVI_SC] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SVI_SIM_CLONE] ([ID])
GO
ALTER TABLE [dbo].[SVI_SC_BASE_DISK_KEYS] CHECK CONSTRAINT [FK_SVI_SC_BDISK_KEYS_SVI_SC]
GO
ALTER TABLE [dbo].[SVI_SC_ENV_VAR]  WITH CHECK ADD  CONSTRAINT [FK_SVI_SC_ENV_VAR_SVI_SC] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SVI_SIM_CLONE] ([ID])
GO
ALTER TABLE [dbo].[SVI_SC_ENV_VAR] CHECK CONSTRAINT [FK_SVI_SC_ENV_VAR_SVI_SC]
GO
ALTER TABLE [dbo].[SVI_SC_PDISK_INFO]  WITH CHECK ADD  CONSTRAINT [FK_SVI_SC_PDISK_INFO_SVI_SC] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SVI_SIM_CLONE] ([ID])
GO
ALTER TABLE [dbo].[SVI_SC_PDISK_INFO] CHECK CONSTRAINT [FK_SVI_SC_PDISK_INFO_SVI_SC]
GO
ALTER TABLE [dbo].[SVI_SIM_CLONE]  WITH CHECK ADD  CONSTRAINT [FK_SVI_SC_SVI_AD_ENTRY] FOREIGN KEY([AD_CONFIG_ID])
REFERENCES [dbo].[SVI_AD_CONFIG_ENTRY] ([ID])
GO
ALTER TABLE [dbo].[SVI_SIM_CLONE] CHECK CONSTRAINT [FK_SVI_SC_SVI_AD_ENTRY]
GO
ALTER TABLE [dbo].[SVI_SIM_CLONE]  WITH CHECK ADD  CONSTRAINT [FK_SVI_SIM_CLONE_SVI_DG] FOREIGN KEY([DEPLOYMENT_GROUP_ID])
REFERENCES [dbo].[SVI_DEPLOYMENT_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SVI_SIM_CLONE] CHECK CONSTRAINT [FK_SVI_SIM_CLONE_SVI_DG]
GO
ALTER TABLE [dbo].[SVI_SIM_CLONE]  WITH CHECK ADD  CONSTRAINT [FK_SVI_SIM_CLONE_SVI_REPLICA] FOREIGN KEY([REPLICA_ID])
REFERENCES [dbo].[SVI_REPLICA] ([ID])
GO
ALTER TABLE [dbo].[SVI_SIM_CLONE] CHECK CONSTRAINT [FK_SVI_SIM_CLONE_SVI_REPLICA]
GO
ALTER TABLE [dbo].[SVI_TASK_STATE]  WITH CHECK ADD  CONSTRAINT [FK_SVI_TASK_STATE_SVI_REPLICA] FOREIGN KEY([REPLICA_ID])
REFERENCES [dbo].[SVI_REPLICA] ([ID])
GO
ALTER TABLE [dbo].[SVI_TASK_STATE] CHECK CONSTRAINT [FK_SVI_TASK_STATE_SVI_REPLICA]
GO
ALTER TABLE [dbo].[SVI_TASK_STATE]  WITH CHECK ADD  CONSTRAINT [FK_SVI_TASK_STATE_SVI_REQUEST] FOREIGN KEY([REQUEST_ID])
REFERENCES [dbo].[SVI_REQUEST] ([ID])
GO
ALTER TABLE [dbo].[SVI_TASK_STATE] CHECK CONSTRAINT [FK_SVI_TASK_STATE_SVI_REQUEST]
GO
ALTER TABLE [dbo].[SVI_TASK_STATE]  WITH CHECK ADD  CONSTRAINT [FK_SVI_TASK_STATE_SVI_SC] FOREIGN KEY([SIM_CLONE_ID])
REFERENCES [dbo].[SVI_SIM_CLONE] ([ID])
GO
ALTER TABLE [dbo].[SVI_TASK_STATE] CHECK CONSTRAINT [FK_SVI_TASK_STATE_SVI_SC]
GO
ALTER TABLE [dbo].[SVI_TS_EXISTING_DISK_KEYS]  WITH CHECK ADD  CONSTRAINT [FK_SVI_TS_EXISTING_KEYS] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SVI_TASK_STATE] ([TASK_ID])
GO
ALTER TABLE [dbo].[SVI_TS_EXISTING_DISK_KEYS] CHECK CONSTRAINT [FK_SVI_TS_EXISTING_KEYS]
GO
ALTER TABLE [dbo].[SVI_SIM_CLONE]  WITH CHECK ADD  CONSTRAINT [CK_SVI_SIM_CLONE_MOID] CHECK  (([SIM_CLONE_MOID] IS NULL OR [SIM_CLONE_MOID] IS NOT NULL AND [GOLDEN_MASTER_VM_MOID] IS NOT NULL AND [GOLDEN_MASTER_VM_SS_MOID] IS NOT NULL))
GO
ALTER TABLE [dbo].[SVI_SIM_CLONE] CHECK CONSTRAINT [CK_SVI_SIM_CLONE_MOID]
GO
